//  login scss
$primary-color: #4f46e5;
$background-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$card-bg: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color;

  &__card {
    background: $card-bg;
    padding: 2rem;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.7rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      outline: none;
      font-size: 0.9rem;

      &:focus {
        border-color: $primary-color;
      }
    }

    button {
      padding: 0.7rem;
      border: none;
      border-radius: 6px;
      background: $primary-color;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }
  }
   }
  .toggleAuthForm{
   color: #a8192c;
   text-decoration: none;
   cursor: pointer;
  }



//  registration scss
$primary-color: #4f46e5;
$background-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$card-bg: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color;

  &__card {
    background: $card-bg;
    padding: 2rem;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.7rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      outline: none;
      font-size: 0.9rem;

      &:focus {
        border-color: $primary-color;
      }
    }

    button {
      padding: 0.7rem;
      border: none;
      border-radius: 6px;
      background: $primary-color;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  .toggleAuthForm{
   color: #a8192c;
   text-decoration: none;
   cursor: pointer;
  }
}