.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    
&.primary-button{
    background-color: rgb(195, 67, 67);
    color: rgb(239, 239, 224);
    // border: 1px solid rgb(255, 255, 255);
}
&:active{
    transform: scale(0.9);
}
}
   
