@use "./button.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root {
    width: 100%;
    background-color: rgb(44, 44, 43);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(203, 63, 63);
}